.container {
    /* width: 80%; */
    height: 100vh;
    background-color: black;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   

}
.colorButton {
    width: 25%;
   
}
.colorType {
    padding-top: 5%;
    font-size: 10vh;
    color: aliceblue;
}
.color {
    padding: 5%;
    font-size: 20vh;
    color: aliceblue;
}