body {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #f0f0f0;
    padding: 10%;
}

.wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.accordion {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 8px 8px 16px #818283,
        -8px -8px 16px #ffffff;

}

.item,
.title,
.content {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: inset 4px 4px 8px #818283,
        inset -4px -4px 8px #ffffff;
}

.button {
    background-color: #f0f0f0;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 8px 8px 16px #818283,
        -8px -8px 16px #ffffff;
}

.enableButton {
    background-color: #f0f0f0;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 8px 8px 16px #818283,
        -8px -8px 16px #ffffff;
    width: 50%;
}